body {
    background: url(mono-terrazzo-stack-4803-in-architextures.jpg);
    background-size: 70%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

#sky {
    background: rgb(237, 248, 255);
    height: 78%;
    width: 100%;
    position: absolute;
    z-index: 0; /* send sky to back */
}

#clock {
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 25px;
}

#square {
    background: white;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 140px;
    left: 20%;
    border: 10px solid gray;
    z-index: 10;
}

#cat {
    font-size: 75px;
    position: absolute;
    z-index: 20;
    top: 85%;
    left: 5%;
    
}

#unicorn {
    font-size: 75px;
    position: absolute;
    z-index: 20;
    top: 73%;
    left: 10%;
}

#dolphin {
    font-size: 75px;
    position: absolute;
    z-index: 20;
    top: 72%;
    left: 58%;
}

#lion {
    font-size: 75px;
    position: absolute;
    z-index: 20;
    top: 85%;
    left: 85%;
}

#penguin {
    font-size: 75px;
    position: absolute;
    z-index: 20;
    top: 72%;
    left: 40%;
}

#bear {
    font-size: 75px;
    position: absolute;
    z-index: 20;
    top: 85%;
    left: 55%;
}

#swan {
    font-size: 75px;
    position: absolute;
    z-index: 20;
    top: 85%;
    left: 70%;
}

#panda {
    font-size: 75px;
    position: absolute;
    z-index: 20;
    top: 72%;
    left: 74%;
}

