body {
    background: url(mono-terrazzo-stack-4803-in-architextures.jpg);
    background-size: 70%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

#sky {
    background: linear-gradient(lightgray, white);
    height: 78%;
    width: 100%;
    position: absolute;
    z-index: 0; /* send sky to back */
}

#clock {
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 25px;
}
